<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.chinaxin.api.splider.dao.NewsDao">
    <resultMap id="BaseNews" type="News">
        <result column="id" property="id" />
        <result column="context" property="context" />
        <result column="url" property="url" />
    </resultMap>
    <parameterMap id="News" type="News"/>
    <insert id="saveNews" parameterMap="News" useGeneratedKeys="true" keyProperty="id">
        insert into
        t_news(title,context,type,url)
        values
        (#{title},#{context},#{type},#{url})
    </insert>
    <select id="queryAllNews" resultType="java.util.HashMap">
        select * from t_news t
        where 1=1;
    </select>
    <delete id = "deleteAllNews">
        delete from t_news;
    </delete>
</mapper>
