<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.demo.spring.service.LoanService">
    <!--<resultMap id="BaseResultMap" type="org.demo.spring.model.User">
        <result column="id" property="id" />
        <result column="nickName" property="username" />
        <result column="password" property="password" />
        <result column="mobile" property="tel" />
    </resultMap>-->
    <parameterMap id="Loan" type="org.demo.spring.model.Loan"/>
    <select id="queryLoans" parameterType="String" resultType="java.util.HashMap">
        select * from t_loan t
        where 1=1
            <if test="loanName!=null and loanName!='' ">
                and t.loanName like CONCAT(CONCAT('%', #{loanName}),'%')
            </if>
    </select>
</mapper>
